<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <style>
        #head
        {
            text-align: center;
        }
        #body
        {
            background-color: black;
        }
        #actions
        {
            text-align: center;
            background-color: white;
            align-items: center;
            font-size: 36px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }
        #button
        {
            font-size: 36px;
        }
    </style>
</head>
<body>
    <div id="actions">
    <h2>Simple Calculator</h2>
    <form method="post" action="/calculate">
        <label for="a">First Number:</label>
        <input type="text" id="a" name="a" required>
        <br>

        <label>Choose Operation:</label>
        <select name="operation" id="operation">
            <option value="add">Add (+)</option>
            <option value="subtract">Subtract (-)</option>
            <option value="multiply">Multiply (×)</option>
            <option value="divide">Divide (/)</option>
        </select>
        <br>

        <label for="b">Second Number:</label>
        <input type="text" id="b" name="b" required>
        <br>

        <button type="submit">Enter</button>
    </form>
    </div>
</body>
</html>

